.outline      {border: .1rem solid @border-color;}
.circle       {border-radius: 50%;}
.rounded      {border-radius: @border-radius-base;}
.rounded-sm   {border-radius: @border-radius-small;}
.rounded-lg   {border-radius: @border-radius-large;}

