.canvas {background: @color-back;}

.layer  {
  .canvas();
  .shadow-3();
}

.section {
  .canvas();
  .shadow-1();
  
  margin-bottom: @space;
}

.box {
  .canvas();
  border: @border-width solid transparent;
  padding: @padding-base-vertical @padding-base-horizontal;
}

.well {
  padding: @padding-base-vertical @padding-base-horizontal;
  background-color: rgba(0,0,0,.05);
  box-shadow: inset rgba(0, 0, 0, .1) 0 (1*@rem) (6*@rem), inset rgba(0, 0, 0, .12) 0 (1*@rem) (4*@rem)
}
