.rotate-90  {transform: rotate(90deg);}
.rotate-180 {transform: rotate(180deg);}
.rotate-270 {transform: rotate(270deg);}
.flip-h     {transform: scale(-1, 1);}
.flip-v     {transform: scale(1, -1);}
