//
// Article style
// --------------------------------------------------


.article {
  img, video, iframe, object, embed {
    max-width: 100%;
    height: auto;
  }

  ul, ol {
    ul, ol {margin-bottom: 0}
  }

  a {color: @color-primary}

  blockquote {
    margin: @space-sm 0 @space-sm @space;
    padding-top: 0;
    padding-bottom: 0;
  }
}

