//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: .1rem solid transparent;
  white-space: nowrap;

  .user-select(none);
  .button-size(@btn-size; @font-size-base; @line-height-base; @padding-base-horizontal);

  &:extend(.trigger all);
}

// Button Sizes
// --------------------------------------------------

.btn-lg {.button-size(@btn-size-lg; @font-size-large; @line-height-large; @padding-large-horizontal);}
.btn-sm {.button-size(@btn-size-sm; @font-size-small; @line-height-small; @padding-small-horizontal);}
.btn-xs {.button-size(@btn-size-xs; @font-size-small; @line-height-small; @padding-xs-horizontal);}


// Icon in button
// --------------------------------------------------
.btn > .icon {margin: 0 -.6rem;}


// Block button
// --------------------------------------------------
.btn.block {width: 100%;}

// Vertically space out multiple block buttons
.btn.block + .btn.block {margin-top: @space-sm;}

// Specificity overrides
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//   &.block {width: 100%;}
// }
