// Inline and block code styles
.code,
code,
kbd,
pre,
samp {
  font-family: @font-family-monospace;
}

// Inline code
code {
  padding: 2*@rem 5*@rem;
  font-size: @font-size-small;
  color: @color-red;
  background-color: rgba(0,0,0,.05);
}

.code {color: @color-red;}

// // User input typically entered via keyboard
// kbd {
//   padding: $code-padding-y $code-padding-x;
//   font-size: $code-font-size;
//   color: $kbd-color;
//   background-color: $kbd-bg;
//   @include border-radius($border-radius-sm);
//   @include box-shadow($kbd-box-shadow);

//   kbd {
//     padding: 0;
//     font-size: 100%;
//     font-weight: $nested-kbd-font-weight;
//     @include box-shadow(none);
//   }
// }

// Blocks of code
pre {
  display: block;
  font-size: @font-size-small;
  padding: @space-sm;
  border: 1*@rem solid transparent;
  background-color: rgba(0,0,0,.05);

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 100*@rem;
  max-width: 100%;
  overflow: auto;
}


// prettify.css

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  &.linenums {
    .box-shadow(~"inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0");
  }

  ol.linenums {
    padding-left: 40px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 0;
  }
}
