// COLOR SCHEME
// -------------------------------------------------


// Base color

@color-primary:              #3280fc;
@color-accent:               #FCAE32;
@color-accent-pale:          #fff8e1;
@color-secondary:            desaturate(darken(@color-primary, 15%), 15%);
@color-secondary-pale:       #e1f5fe;
@color-pale:                 #ebf2f9;
@color-fore:                 #333;
@color-back:                 #fff;
@color-focus:                #2196F3;
@color-highlight:            #c6ff00;


// Grays

@color-gray-darker:          fade(#000, 86.5%); // #222
@color-gray-dark:            fade(#000, 80%);   // #333
@color-gray:                 fade(#000, 50%);   // #808080
@color-gray-light:           fade(#000, 13.3%); // #ddd
@color-gray-lighter:         fade(#000, 10.3%); // #e5e5e5
@color-gray-pale:            fade(#000, 5.5%); // #f1f1f1


// Color list

@color-white:                #fff;
@color-black:                #000;
@color-dark:                 @color-gray-dark;
@color-red:                  #ea644a;
@color-yellow:               #f1a325;
@color-green:                #38b03f;
@color-blue:                 #03b8cf;
@color-purple:               #8666b8;
@color-brown:                #bd7b46;

@color-green-pale:           #ddf4df;
@color-yellow-pale:          #fff0d5;
@color-red-pale:             #ffe5e0;
@color-blue-pale:            #ddf3f5;
@color-brown-pale:           #f7ebe1;
@color-purple-pale:          #f5eeff;


// Color aliases

@color-light:                @color-back;
@color-dark:                 @color-fore;

@color-success:              @color-green;
@color-warning:              @color-yellow;
@color-danger:               @color-red;
@color-info:                 @color-blue;
@color-important:            @color-brown;
@color-special:              @color-purple;

@color-success-pale:         @color-green-pale;
@color-warning-pale:         @color-yellow-pale;
@color-danger-pale:          @color-red-pale;
@color-info-pale:            @color-blue-pale;
@color-important-pale:       @color-brown-pale;
@color-special-pale:         @color-purple-pale;
