// Basic

.heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  > .title {
    display: block;
    padding: @padding-base-vertical @padding-base-horizontal;
    flex: 1;
  }

  > .nav {
    align-self: flex-start;
  }

  > .avatar {margin-left: .5rem;}
}


// Sizes

.heading-lg {
  > .nav {margin: .4rem;}

  > .title {
    font-size: @font-size-title;
    padding: (@padding-base-vertical + .3rem) @padding-base-horizontal;
  }
}


// Affix heading

.heading.affix {
  background-color: @color-back;
  
  &:extend(.heading-lg all);
}

.with-heading-top    {padding-top: 4.8rem;}
.with-heading-bottom {padding-bottom: 4.8rem;}
