//
// Navs
// --------------------------------------------------

.nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  > a {
    flex: 0 0 auto;
    display: flex;
    min-width: 4rem;
    opacity: .8;
    padding: 0 @padding-base-horizontal;
    align-items: center;
    justify-content: center;
    height: 4rem;

    &.active {
      opacity: 1;
      font-weight: bold;
    }
  }
}

.nav-secondary {
  box-shadow: inset 0 -.1rem 0 rgba(0,0,0,.1);

  > .active {box-shadow: inset 0 -.2rem 0 @color-white;}

  &.primary-pale > .active   {box-shadow: inset 0 -.2rem 0 @color-primary;}
  &.success-pale > .active   {box-shadow: inset 0 -.2rem 0 @color-success;}
  &.danger-pale > .active    {box-shadow: inset 0 -.2rem 0 @color-danger;}
  &.warning-pale > .active   {box-shadow: inset 0 -.2rem 0 @color-warning;}
  &.important-pale > .active {box-shadow: inset 0 -.2rem 0 @color-important;}
  &.special-pale > .active   {box-shadow: inset 0 -.2rem 0 @color-special;}
}

.nav.circle {border-radius: 2rem}

.nav.outline {
  > a {
    border-right: 1px solid transparent;
    border-right-color: inherit;

    &:last-child {border-right: none}

    &.active {
      color: @color-fore;
      background-color: @color-back;
    }
  }
}

.nav-lg {
  > a {
    height: 4.8rem;
  }
}

// Affix

.nav.affix {
  background-color: @color-back;
  &:extend(.nav-lg all);
}

.with-nav-top                   {padding-top: 4.8rem;}
.with-nav-bottom                {padding-bottom: 4.8rem;}
.with-heading-top.with-nav-top  {
  padding-top: 4.8rem*2;

  > .nav.affix.dock-top {top: 4.8rem}
}

.in-scroll.scroll-down {
  &.with-heading-top, .with-heading-top {
    > .nav.dock-top {
      transform: translate(0, -100%);
      &.dock-auto {
        transform: translate(0, -200%);
      }
    }
  }
}

.in-scroll > .dock-top .nav-secondary {.shadow-0()}
