// Transitions

.transition(@transition) {
  transition: @transition;
}
.transition-property(@transition-property) {
  transition-property: @transition-property;
}
.transition-delay(@transition-delay) {
  transition-delay: @transition-delay;
}
.transition-duration(@transition-duration) {
  transition-duration: @transition-duration;
}
.transition-timing-function(@timing-function) {
  transition-timing-function: @timing-function;
}
.transition-transform(@transition) {
  transition: transform @transition;
}
.transition-transform(@speed; @type) {
  transition: transform @speed @type;
}
.transition(@target; @speed; @type)
{
  .transition(@target @speed @type);
}
.transition-none()
{
  .transition(none);
}
.transition-fast(@target)
{
  .transition(@target @animation-speed-fast @animation-type);
}
.transition-fast(@target1; @target2)
{
  .transition(~"@{target1} @{animation-speed-fast} @{animation-type}, @{target2} @{animation-speed-fast} @{animation-type}");
}
.transition-fast(@target1; @target2; @target3)
{
  .transition(~"@{target1} @{animation-speed-fast} @{animation-type}, @{target2} @{animation-speed-fast} @{animation-type}, @{target3} @{animation-speed-fast} @{animation-type}");
}
.transition-fast(@target1; @target2; @target3; @target4)
{
  .transition(~"@{target1} @{animation-speed-fast} @{animation-type}, @{target2} @{animation-speed-fast} @{animation-type}, @{target3} @{animation-speed-fast} @{animation-type}, @{target4} @{animation-speed-fast} @{animation-type}");
}
.transition-fast(@target1; @target2; @target3; @target4; @target5;)
{
  .transition(~"@{target1} @{animation-speed-fast} @{animation-type}, @{target2} @{animation-speed-fast} @{animation-type}, @{target3} @{animation-speed-fast} @{animation-type}, @{target4} @{animation-speed-fast} @{animation-type}, @{target5} @{animation-speed-fast} @{animation-type}");
}
.transition-fast(@target1; @target2; @target3; @target4; @target5; @target6)
{
  .transition(~"@{target1} @{animation-speed-fast} @{animation-type}, @{target2} @{animation-speed-fast} @{animation-type}, @{target3} @{animation-speed-fast} @{animation-type}, @{target4} @{animation-speed-fast} @{animation-type}, @{target5} @{animation-speed-fast} @{animation-type}, @{target6} @{animation-speed-fast} @{animation-type}");
}
.transition-fast()
{
  .transition(@animation-speed-fast @animation-type);
}
.transition-slow(@target)
{
  .transition(@target @animation-speed-slow @animation-type);
}
.transition-slow()
{
  .transition(@animation-speed-slow @animation-type);
}
.transition-normal(@target)
{
  .transition(@target @animation-speed-normal @animation-type);
}
.transition-normal(@target1; @target2)
{
  .transition(~"@{target1} @{animation-speed-normal} @{animation-type}, @{target2} @{animation-speed-normal} @{animation-type}");
}
.transition-normal(@target1; @target2; @target3)
{
  .transition(~"@{target1} @{animation-speed-normal} @{animation-type}, @{target2} @{animation-speed-normal} @{animation-type}, @{target3} @{animation-speed-normal} @{animation-type}");
}
.transition-normal(@target1; @target2; @target3; @target4)
{
  .transition(~"@{target1} @{animation-speed-normal} @{animation-type}, @{target2} @{animation-speed-normal} @{animation-type}, @{target3} @{animation-speed-normal} @{animation-type}, @{target4} @{animation-speed-normal} @{animation-type}");
}
.transition-normal(@target1; @target2; @target3; @target4; @target5;)
{
  .transition(~"@{target1} @{animation-speed-normal} @{animation-type}, @{target2} @{animation-speed-normal} @{animation-type}, @{target3} @{animation-speed-normal} @{animation-type}, @{target4} @{animation-speed-normal} @{animation-type}, @{target5} @{animation-speed-normal} @{animation-type}");
}
.transition-normal(@target1; @target2; @target3; @target4; @target5; @target6)
{
  .transition(~"@{target1} @{animation-speed-normal} @{animation-type}, @{target2} @{animation-speed-normal} @{animation-type}, @{target3} @{animation-speed-normal} @{animation-type}, @{target4} @{animation-speed-normal} @{animation-type}, @{target5} @{animation-speed-normal} @{animation-type}, @{target6} @{animation-speed-normal} @{animation-type}");
}
.transition-normal()
{
  .transition(@animation-speed-normal @animation-type);
}
.transition()
{
  .transition-normal();
}
